@font-face {font-family: "paris"; src: url('fonts/paris.ttf'); }
@font-face {font-family: "bariol"; src: url('fonts/bariol.ttf'); }
@font-face {font-family: "manifesto"; src: url('fonts/manifesto.ttf'); }
@font-face {font-family: "kaushan"; src: url('fonts/kaushan.otf'); }
@font-face {font-family: "kaushan"; src: url('fonts/kaushan.otf'); }
@font-face {font-family: "roboto"; src: url('fonts/roboto/Roboto-Regular.ttf'); }
@font-face {font-family: "raleway"; src: url('fonts/raleway/Raleway-Medium.ttf'); }
@font-face {font-family: "raleway-bold"; src: url('fonts/raleway/Raleway-Bold.ttf'); }

html {
    height: 100%;

    background-color: rgb(245,247,250);
}
body, #root {
    position: relative;

    width: 100%;
    height: 100%;

    background-color: rgb(245,247,250);
}

button:focus {
    /*remove the blue border*/
    outline: 0 !important;
}
a:focus {
    /*remove the blue border*/
    outline: 0 !important;
    text-decoration: none !important;
}

h3, h4 {
    font-family: "roboto";
}

textarea {
    resize: vertical;
}

/*pic*/
.pic {
    margin-right: 5px;
    padding: 1px;
}


/*social buttons*/
.socialDiv {
    padding-bottom: 7px;
}


.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;

    text-align: center;

    border-radius: 15px;

    font-size: 12px;
    line-height: 1.428571429;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;

    border-radius: 25px;

    font-size: 18px;
    line-height: 1.33;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;

    border-radius: 35px;

    font-size: 24px;
    line-height: 1.33;
}
