@import url('master.css');
@font-face {
    font-family: 'raleway';

    src: url('raleway/Raleway-Bold.ttf');
}

body {
    /*font-family: 'raleway';*/
    /*font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;*/
}

@keyframes panel {
    0% {
        -webkit-transform: translateY(-150%); /* Safari */        -ms-transform: translateY(-150%); /* IE 9 */
        transform: translateY(-150%);

        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(0%); /* Safari */        -ms-transform: translateY(0%); /* IE 9 */
        transform: translateY(0%);
    }
}

#gameDiv {
    /*min-height if bg*/
    min-height: 100%;
    /*background: url("../img/slither.png") fixed center;*/

    background-color: rgb(13,17,20);
    background-repeat: repeat;
    background-size: 100%;
}

#mainFade {
    position: absolute;

    display: none;
    overflow: hidden;    

    width: 100%;
    height: 100%;

    animation: panel 1s ease-out 0s 1 normal none running;
}

#homePanel {
    position: absolute;
    /*center overflowing div*/
    top: -9999px;
    right: -9999px;
    bottom: -9999px;
    left: -9999px;

    width: 1000px;
    height: 700px;
    margin: auto;
}

#midTopPanel {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 300px;
    height: 500px;
    /*center a div*/
    margin: auto;
    /*runned each time display is set to block!*/

    border: 1px solid #f0f0f5;
    border-radius: 10px;
    background-color: #e9ebee;
}



#titleDiv {
    position: relative;

    width: 100%;
    height: 20%;

    text-align: center;
}

#title {
    /*center a div/span*/
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translateX(-50%) translateY(-50%);

    font-family: 'Indie Flower', cursive !important;
    /*border-bottom: 1px solid #000000;*/
    font-size: 4em;
}

#formDiv {
    position: relative;

    width: 100%;
    height: 80%;
}


.center-midTop {
    width: 80% !important;
    margin: 20px auto;
    /*height: 40px;*/
}

#ctxDiv {
    position: absolute;
    top:0px;
    left:0px;

    width: 100%;
    height: 100%;
}

#ctx {
    position: absolute;
    z-index: 0;
    top:0px;
    left:0px;

    display: none;

    width: 100%;
    height: 100%;
}

#ctx2 {
    position: absolute;
    z-index: 1;
    top:0px;
    left:0px;

    width: 100%;
    height: 100%;
}

/*Leaderboard*/
#hudContainer {
    position: absolute;
    z-index: 1;

    visibility: hidden;

    width: 100%;
    height: 100%;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;

    -khtml-user-select: none;
    -webkit-touch-callout: none;
}

#boardDiv {
    position: absolute;
    top: 0px;
    right: 0px;

    overflow: hidden;

    width: 10vw;
    max-width: 20.625vh;
    height: 16vw;
    max-height: 33vh;
    margin: 0.7%;
    padding: 0.3% 0;

    text-align: center;
    white-space: nowrap;

    background-color: rgba(140, 140, 140, 0.6);
}

#leaderboard {
    position: relative;

    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    width: 100%;
    height: 14%;

    color: #ffffff;
}

#leaderboard span {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translateX(-50%) translateY(-50%);

    border-bottom: 1px solid white;
}

#entry {
    position: relative;

    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    width: 100%;
    height: 86%;

    color: white;
}

#entry div {
    position: relative;

    width: 100%;
    height: 10%;
}

#entry div span {
    overflow: hidden;

    width: 90%;
    height: 100%;
}

#debugDiv {
    position: absolute;
    top: 100%;

    display: none;
}