@import "../../theme/variables.scss";

.homeFrontH {
    @extend %debug;
    @extend .col-md-5, .col-md-offset-1;

    @media (max-width: $screen-md-min) {
        text-align: center;
    }

}

.loginFrontH {
    @extend .center-block;
    text-align: center;
    width: 300px;

    @extend %debug;
}

.signupFrontH {
    @extend .loginFrontH;
}
