
.comWrite {
    //Ordinarily, floats aren't counted in the layout of their parents.
    //To prevent height=0, add overflow: hidden to the parent.
    overflow: hidden;

    width: 70%;
}

.comAreaContainer {
    float: left;
}

.comArea {
    position: relative;

    width: 100%;

    border-radius: 5px;
}

.comBtn {
    margin-top: 1px;
}
