@import "../../theme/variables.scss";

.root {
    display:inline-block;
    margin-top: 5px;
    width: 100%;
}

.gridList {
    // width: 300px;
    // height: 450px;
}

.a, .a:hover, .a:focus {
    color: white;
}
