@import "../../theme/variables.scss";

.FrontArtTrend {
    @extend .center-block, .thumbnail, %debug;
    // text-align: center;
    overflow: auto; //expand parent div to the height of the childs.

    width: 450px;
    padding: 0px 20px 20px 20px;

    font-size: $ff-size-museum;
    // height: 1000px;
    img {
        position: relative;
        margin: 0;
        margin-top: 10px;

        width: 100%;
        height: auto;

        border-radius: 6px;
    }

    div {
        position: relative;

        width: 100%;
        margin-top: 10px;

        white-space: pre-wrap;
        word-wrap: break-word;
        // border: 1px solid;
    }
}
