@import "../../theme/variables.scss";

.frontArtTrend {
    overflow-x: hidden;

    // overflow: auto; //expand parent div to the height of the childs.

    text-align: center;
    min-height: 540px;

    font-size: $ff-size-museum;
}

.imgContainer {
    overflow: hidden;

    height: 380px;
}

.imgCenter {
    position: relative;
    //center the img with overflow hidden
    left: 50%;

    width: auto;
    height: 100%;
    margin-left: -100%;

    vertical-align: middle;
    // border-radius: 6px;
}
