.btnContainer {
    margin: 0 auto;

    button {
        margin: 0px 5px 0 5px;

        transition: transform 0.3s ease;
        transform:scale(1,1);
    }
    button:hover {
        transition: transform 0.5s ease;
        transform:scale(1.15,1.15);
    }
}
