@import "../../theme/variables.scss";

.art {
    margin: 24px;
}

.descContainer {
    position: relative;

    width: 100%;
    margin-top: 10px;

    white-space: pre-wrap;
    word-wrap: break-word;

    font-family: $ff-text;
    font-size: $ff-size-desc;
}

.imgContainer {
    float: right;

    max-width: 100%;
    margin: 10px;
}

//span to avoid div div style in ModalArt...
.comsContainer {
    display: block;

    padding: 24px;

    color: $bgc-com;
    background-color: $bgc-front;

    font-family: Arial, sans-serif;
}
